.drawer {
  background: #002b36;
  font-family: monospace;
  font-size: 14px;
  color: rgb(196, 196, 196);
  opacity: .9;
  width: 600px;
  position: absolute;
  left: -600px;
  top: 0px;
  bottom: 0px;
}

.CodeMirror {
  height: 70%;
  width: 100%;
}

.cm-s-solarized.cm-s-dark .CodeMirror-selected {
  background: #fdf6e3;
}

.completions {
  overflow:auto;
  height:30%;
}

li.completion {
  cursor:pointer;
}

li.completion:hover {
  background:#444;
}
