.drawer {
  background: #002b36;
  font-family: monospace;
  font-size: 14px;
  color: rgb(196, 196, 196);
  opacity: .9;
  width: 600px;
  position: absolute;
  left: -600px;
  top: 0px;
  bottom: 0px;
  z-index: 8;
}

div.editor {
  height: 70%;
  padding: 0px 10px 0px 10px;
  font: 14px monospace;
}

.cm-s-solarized.cm-s-dark .CodeMirror-selected {
  background: #fdf6e3;
}

.completions {
  overflow:auto;
  height:30%;
}

li.completion {
  cursor:pointer;
}

li.completion:hover {
  background:#444;
}

#number-selector {
  display:none;
  background:#888;
  opacity:.2;
  border:solid 2px #FFF;
  position:absolute;
  /*cursor:ns-resize;*/
  cursor:ns-resize;
  width: 25px;
  height: 14px;
  z-index: 9;
}
