

body {
    background-color: black;
    color: gray;
}

.menu {
    text-align: center;
}

.levels {
    padding: 0;
}

.levels li {
    list-style-type: none;
    margin: 5px;
}
.levelbutton a {
    font-size: x-large;
    color: white;
    text-decoration: none;
    padding: 2px;
}

.levelbutton a:visited {
    color: darkgray;
}

.levelbutton a:hover {
    border: solid 2px;
    border-radius: 5px;
}