.drawer {
  background: #002b36;
  font-family: monospace;
  font-size: 14px;
  color: rgb(196, 196, 196);
  opacity: .9;
  width: 600px;
  position: absolute;
  left: -600px;
  top: 0px;
  bottom: 0px;
  z-index: 8;
}

.CodeMirror {
  height: 70%;
  padding: 0px 5px 0px 5px;
}

.cm-s-solarized.cm-s-dark .CodeMirror-selected {
  background: #fdf6e3;
}

.completions {
  overflow:auto;
  height:30%;
}

li.completion {
  cursor:pointer;
}

li.completion:hover {
  background:#444;
}


.statement {
  background: #204b56;
}


.block {
  background: #204b56;
}


.block-handle {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  /*background: #305b66;*/
  background: #CCC;
  opacity: 0.5;
  position: absolute;
  z-index: 10;
  cursor: move;
}

.block-handle.number-block-handle {
  cursor: ns-resize;
}

/*
The .cm-s-solarized.cm-s-dark increases the specificity to override other
in certain corner cases (replacing selection). But I still want to allow
the general rule
*/
.cm-s-solarized.cm-s-dark.CodeMirror-selectedtext,.CodeMirror-selectedtext {
  background: #fdf6e3;
}

.picked-block {
  position: absolute;
  background: #444;
  z-index: 10;
  font-family: monospace;
  font-size: 14px;
  color: rgb(196, 196, 196);
}

.block-insert {
  height: 1px;
  background: #CCC;
}
